*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background:url("./images/hermoso.jpg") no-repeat;
    background-position:-1100px 0;
   background-position-x:center;
   background-position-y:center;
    background-size:cover;
   background-attachment: fixed;
    /* background-size: cover; */
      
  }
  
  main{
    background:rgba(255,255,255,0.8);
    border-radius: 25px;
    padding:20px;
    margin: 50px;
  }
  
  section{
    border: 1px solid rgb(11, 5, 0);
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
  }
  
  h1{
    color: #FFF;
    border-radius: 15px;
    background: rgb(149, 26, 83);
    padding: 20px;
    margin: 0 0 20px 0;
  }
  
  #portada{
    width: 200px;
    height:200px;
    float: left;
  }
  
  .foto2{
    float: right;
    width:300px;
    height:400px;
   
  }
  
  .negro{
    color: rgb(255, 0, 85);
  }
  
  .fotos{
    background: rgb(149, 26, 83);
    width: 600px;
    height: 500px;
    
  }
  
  .vacio{
    padding: 1px;
    background: rgb(36, 3, 252);
  }
  
  .img-float{
    float: right;
    
  }
  
  .juego{
    width: 100px;
    height: 100px;
  }

  .txt-float{
    float: left;
    width: 500px;
    padding: 100px 0 0 0;
  }
  
  .clear{
    clear:both;
  }

  .comida{
      height: 400px;
      width: 600px;
  }

  nav ul{
    background-color:rgb(149, 26, 83);
    width: 100%;
    list-style-type: none;
    text-align:center;
  }

  nav li{
    display: inline-flex;
  }

  nav a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 10px;
    width:150px;

  }

  nav li :hover{
    background-color: rgb(140, 62, 98);
  }

  